__pycache__/
*.py[cod]

.idea/

build/
dist/
virtualenv/
uniswap_universal_router_decoder.egg-info/

analysis/
notes/

.coverage
.mypy_cache
.pytest_cache
.tox

venv_ur_tutorial/
media/temp

# Anvil and blockchain testing files
*.db
*.db-shm
*.db-wal
anvil_state/
anvil.log
chain_data/

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
