[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "uniswap-universal-router-decoder"
version = "1.2.1"
authors = [
  { name="Elnaril", email="elnaril_dev@caramail.com" },
]
description = "Decode & Encode transactions sent to the Uniswap Universal Router"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Operating System :: OS Independent",
]
license = {text = "MIT License"}
dependencies = [
  "web3>=6.0.0,<8.0.0",
]
keywords = ["blockchain", "ethereum", "uniswap", "exchange", "dex", "universal router", "swap", "decoder", "encoder", "codec", "wrapper", "SDK"]

[tool.setuptools]
packages = ["uniswap_universal_router_decoder"]

[project.urls]
"Homepage" = "https://github.com/Elnaril/uniswap-universal-router-decoder"
"Bug Tracker" = "https://github.com/Elnaril/uniswap-universal-router-decoder/issues"
"Discussions" = "https://github.com/Elnaril/uniswap-universal-router-decoder/discussions"
"Fiverr" = "https://www.fiverr.com/elnaril"
"Buy Me A Coffee" = "https://www.buymeacoffee.com/elnaril"
"Malt" = "https://www.malt.com/profile/elnaril"
